# React dependencies (Yeh folder GitHub par kabhi nahi jana chahiye)
frontend/node_modules/
frontend/build/

# Django / Python temporary files
**/__pycache__/
*.py[cod]
backend/venv/
backend/env/

# Database & Environment Secrets (PostgreSQL credentials)
backend/.env
frontend/.env.local

# System files
.vscode/
.DS_Store
*.log
