/* components/Navbar.css */

.navbar{
  width: 100%;
  height: 90px;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(44, 118, 126);
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

/* Logo */

.logo{
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img{
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.logo h2{
  font-size: 30px;
  font-weight: 700;
}

.logo span{
  color: black;
  font-family: 'Pacifico', cursive;
}

/* Nav Links */

.nav-links{
  display: flex;
  gap: 35px;
  list-style: none;
}

.nav-links a{
  text-decoration: none;
  color: #111;
  font-size: 17px;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover{
  color: rgb(104, 186, 202);
}

/* Buttons */

.nav-buttons{
  display: flex;
  gap: 15px;
}

.login-btn{
  padding: 12px 28px;
  border: none;
  background: rgb(104, 186, 202);
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;

}

.login-btn:hover{
  background: rgb(65, 124, 136);
}

.signup-btn{
  padding: 12px 28px;
  border: none;
  background: rgb(104, 186, 202);
  color: black;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.signup-btn:hover{
  background: rgb(65, 124, 136);
}

/* Responsive */

@media(max-width: 768px){

  .navbar{
    padding: 20px;
    flex-direction: column;
    height: auto;
    gap: 20px;
  }

  .nav-links{
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

}



/* HERO SECTION */
.hero{
  width:100%;
  min-height:90vh;
  padding:80px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background: rgb(181, 232, 238);
}

/* LEFT */

.hero-left{
  flex:1;
}

.hero-badge{
  background: rgb(44, 118, 126);
  color: rgb(153, 223, 230);
  padding:10px 18px;
  border-radius:30px;
  font-size:14px;
  font-weight:600;
}

.hero-left h1{
  font-size:70px;
  line-height:1.2;
  margin-top:25px;
  color:#111;
}

.hero-left h1 span{
  color: rgb(33, 99, 107);
}

.hero-left p{
  margin-top:20px;
  font-size:18px;
  color: rgb(72, 102, 105);
  max-width:550px;
  line-height:1.7;
}

/* BUTTONS */

.hero-buttons{
  margin-top:35px;
  display:flex;
  gap:20px;
}

.start-btn{
  padding:15px 35px;
  border:none;
  background: rgb(44, 118, 126);
  color:white;
  border-radius:12px;
  font-size:16px;
  cursor:pointer;
  transition:0.3s;
}

.start-btn:hover{
  background:rgb(20, 58, 62);
}

.demo-btn{
  padding:15px 35px;
  border:1px solid rgb(18, 62, 67);
  background:rgb(137, 222, 231);
  border-radius:12px;
  font-size:16px;
  cursor:pointer;
  transition:0.3s;

}

.demo-btn:hover{
  background:rgb(21, 92, 100);
}

/* USERS */

.hero-users{
  margin-top:40px;
}

.hero-users h3{
  font-size:28px;
  color:#111;
}

.hero-users p{
  margin-top:5px;
  font-size:15px;
}

/* RIGHT */

.hero-right{
  flex:1;
  display:flex;
  justify-content:center;
}

.hero-right img{
  width:100%;
  max-width:1000px;
}

/* RESPONSIVE */

@media(max-width:992px){

  .hero{
    flex-direction:column;
    text-align:center;
    padding:50px 20px;
  }

  .hero-left h1{
    font-size:50px;
  }

  .hero-left p{
    max-width:100%;
  }

  .hero-buttons{
    justify-content:center;
  }

  .hero-right{
    margin-top:50px;
  }

}